<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Checkout Demo</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <script src="{{ url_for('static', path='script.js') }}"></script>
    <button id="checkout-yearly">Subscribe Yearly</button>
    <button id="checkout-monthly">Subscribe Monthly</button>
    {% if hasCustomer %}
    <button id="manage-billing">Manage Billing</button>
    {% endif %}
</body>
</html>
